In [37]:
import numpy as np 
import pandas as pd
import matplotlib.pyplot as plt 

from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

%matplotlib inline

In [38]:
dpath = '../data/'
df = pd.read_csv(dpath + 'pipeline_output.csv')
df

,REGIONC,TYPEHUQ,NWEIGHT,HDD65,Climate_Region_Pub,KOWNRENT,YEARMADE,OCCUPYYRANGE,WALLTYPE,ROOFTYPE,...,IECC_Climate_Pub_2B,IECC_Climate_Pub_3A,IECC_Climate_Pub_3B-4B,IECC_Climate_Pub_3C,IECC_Climate_Pub_4A,IECC_Climate_Pub_4C,IECC_Climate_Pub_5A,IECC_Climate_Pub_5B-5C,IECC_Climate_Pub_6A-6B,IECC_Climate_Pub_7A-7B-7AK-8AK
0,2,2,2471.68,4742,4,1,2004,8,1,5,...,0,0,0,0,1,0,0,0,0,0
1,4,2,8599.17,2662,5,2,1998,8,2,2,...,0,0,0,1,0,0,0,0,0,0
2,1,5,8969.92,6233,1,2,1965,7,1,-2,...,0,0,0,0,0,0,1,0,0,0
3,2,2,18003.64,6034,1,1,1985,5,6,5,...,0,0,0,0,0,0,1,0,0,0
4,1,3,5999.61,5388,1,1,1983,5,2,5,...,0,0,0,0,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12078,2,2,10219.80,7671,1,1,1985,7,3,6,...,0,0,0,0,0,0,0,0,1,0
12079,3,4,8689.07,2085,2,2,1980,8,1,2,...,0,0,1,0,0,0,0,0,0,0
12080,2,2,4697.21,7935,1,1,1993,7,3,6,...,0,0,0,0,0,0,0,0,1,0
12081,4,2,13155.68,5834,1,1,1930,4,1,6,...,0,0,0,0,0,0,0,1,0,0
12082,4,2,7703.43,2806,5,1,1948,8,2,6,...,0,0,0,1,0,0,0,0,0,0

In [4]:
# note
# corr matrix threshold (elim) (lowe corr matrix)
# plot remaining var with correlation to target, cut agian
# Run PCA... how many? based on eigenvalues... # of PCA comp = # of eigen values 1 or higher. filter to this
# Specify data types... Ordinal / Chat / continous / datetime???
# LR... polly... Dirichlet Reg
# L2 for penalization/generalization
# other alogs? 

# Ideas: 
# convert target into bins? classification....  norm dist bins
#   - Naive Bays... check matrix & Kappa Value(0.9 or higher... robustness of model in real world)
#   - Treat outliners... before / after PCA
# Any feature missing val > .4 eliminate

In [39]:
# No scaling

X = np.array(df.drop('KWH', axis=1))
y = np.array(df['KWH'])

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, shuffle=True, random_state=150)

reg = LinearRegression()
reg.fit(X_train, y_train)

print("Train R2:", reg.score(X_train, y_train))
print("Test R2:", reg.score(X_test, y_test))

#display adjusted R-squared
adj_r2_train = 1 - (1-reg.score(X_train, y_train))*(len(y_train)-1)/(len(y_train)-X_train.shape[1]-1)
adj_r2_test = 1 - (1-reg.score(X_test, y_test))*(len(y_test)-1)/(len(y_test)-X_test.shape[1]-1)

print("Train Adjusted R2:", adj_r2_train)
print("Test Adjusted R2:", adj_r2_test)

Train R2: 0.9297152640485217
Test R2: 0.9125234373754924
Train Adjusted R2: 0.9254392860083226
Test Adjusted R2: 0.8990076256925086

In [ ]:
# type compare test

In [40]:
# again if we scale it? #scale with the fit on X_train then apply to X_test 
X = np.array(df.drop('KWH', axis=1))
y = np.array(df['KWH'])

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, shuffle=True, random_state=150)

# fit scale on X_train data
sc = StandardScaler()
sc.fit(X_train)
X_train_scaled = sc.transform(X_train)
X_test_scaled = sc.transform(X_test)

# Linear Regression
reg = LinearRegression()
reg.fit(X_train, y_train)

# print scores
print("Train R2:", reg.score(X_train, y_train))
print("Test R2:", reg.score(X_test, y_test))

# display adjusted R-squared
adj_r2_train = 1 - (1-reg.score(X_train, y_train))*(len(y_train)-1)/(len(y_train)-X_train.shape[1]-1)
adj_r2_test = 1 - (1-reg.score(X_test, y_test))*(len(y_test)-1)/(len(y_test)-X_test.shape[1]-1)

print("Train Adjusted R2:", adj_r2_train)
print("Test Adjusted R2:", adj_r2_test)

Train R2: 0.9297152640485217
Test R2: 0.9125234373754924
Train Adjusted R2: 0.9254392860083226
Test Adjusted R2: 0.8990076256925086

numpy.ndarray

In [41]:
# try pycarret

from pycaret.regression import *

In [42]:
s = setup(data = df, target='KWH', n_jobs=-1)

In [43]:
best = compare_models()

In [46]:
# careful as this can be coputationally expensive
evaluate_model(best)

In [50]:
tuned_lasso = tune_model(best)

In [51]:
predict_model(tuned_lasso)
# not too bad

,NWEIGHT,HDD65,YEARMADE,LGT4,LGT1,LGT1EE,HHAGE,MONEYPY,TOTSQFT,TOTUSQFT,...,IECC_Climate_Pub_3B-4B_1,IECC_Climate_Pub_3C_0,IECC_Climate_Pub_4A_1,IECC_Climate_Pub_4C_1,IECC_Climate_Pub_5A_1,IECC_Climate_Pub_5B-5C_0,IECC_Climate_Pub_6A-6B_0,IECC_Climate_Pub_7A-7B-7AK-8AK_1,KWH,Label
0,17230.630859,6312.0,1964.0,0.0,4.0,4.0,63.0,23.0,4252.0,400.0,...,0.0,1.0,0.0,0.0,1.0,1.0,1.0,0.0,9583,11791.259766
1,10215.139648,3309.0,1996.0,1.0,1.0,1.0,53.0,24.0,3896.0,400.0,...,0.0,1.0,1.0,0.0,0.0,1.0,1.0,0.0,9046,10443.822266
2,15966.070312,3334.0,1999.0,0.0,3.0,2.0,33.0,5.0,2154.0,400.0,...,0.0,1.0,1.0,0.0,0.0,1.0,1.0,0.0,6670,8125.667480
3,8619.589844,1255.0,1970.0,0.0,0.0,-2.0,83.0,7.0,831.0,0.0,...,1.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0,3354,3480.226074
4,12469.419922,3122.0,2006.0,0.0,2.0,0.0,73.0,9.0,1580.0,400.0,...,0.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0,9307,9548.295898
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3620,3149.360107,4550.0,1974.0,0.0,2.0,2.0,24.0,17.0,2240.0,400.0,...,0.0,1.0,1.0,0.0,0.0,1.0,1.0,0.0,3513,6759.419434
3621,9229.280273,4791.0,1975.0,1.0,5.0,0.0,57.0,24.0,2726.0,1752.0,...,0.0,1.0,1.0,0.0,0.0,1.0,1.0,0.0,17239,17553.414062
3622,2599.860107,4724.0,2005.0,2.0,4.0,4.0,26.0,12.0,1296.0,0.0,...,0.0,1.0,1.0,0.0,0.0,1.0,1.0,0.0,9129,10624.360352
3623,4554.930176,6033.0,1973.0,0.0,0.0,-2.0,54.0,24.0,3167.0,1000.0,...,0.0,1.0,0.0,0.0,1.0,1.0,1.0,0.0,8957,6274.818848
3624,7169.310059,1752.0,1959.0,0.0,1.0,1.0,49.0,16.0,1548.0,687.0,...,1.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0,9865,8447.434570

In [52]:
tuned_lasso.get_params()

{'alpha': 1.91,
 'copy_X': True,
 'fit_intercept': False,
 'max_iter': 1000,
 'normalize': False,
 'positive': False,
 'precompute': False,
 'random_state': 7836,
 'selection': 'cyclic',
 'tol': 0.0001,
 'warm_start': False}

In [53]:
save_model(tuned_lasso, '../output/models/lasso1')

Transformation Pipeline and Model Successfully Saved

(Pipeline(memory=None,
          steps=[('dtypes',
                  DataTypes_Auto_infer(categorical_features=[],
                                       display_types=True, features_todrop=[],
                                       id_columns=[], ml_usecase='regression',
                                       numerical_features=[], target='KWH',
                                       time_features=[])),
                 ('imputer',
                  Simple_Imputer(categorical_strategy='not_available',
                                 fill_value_categorical=None,
                                 fill_value_numerical=None,
                                 numeric_strategy='me...
                 ('clean_names', Clean_Colum_Names()),
                 ('feature_select', 'passthrough'), ('fix_multi', 'passthrough'),
                 ('dfs', 'passthrough'), ('pca', 'passthrough'),
                 ['trained_model',
                  Lasso(alpha=1.91, copy_X=True, fit_intercept=False,
                        max_iter=1000, normalize=False, positive=False,
                        precompute=False, random_state=7836, selection='cyclic',
                        tol=0.0001, warm_start=False)]],
          verbose=False),
 '../output/models/lasso1.pkl')

In [54]:
### Lets try the lightgbm model
s = setup(data = df, target='KWH', n_jobs=-1, train_size = 0.7, session_id = 123)

In [55]:
lightgbm_model = create_model('lightgbm', fold = 10)

In [ ]:
evaluate_model(lightgbm_model)

In [59]:
tuned_lightgbm = tune_model(lightgbm_model, optimize= "RMSE", )

In [58]:
tuned_lightgbm.get_params()

{'boosting_type': 'gbdt',
 'class_weight': None,
 'colsample_bytree': 1.0,
 'importance_type': 'split',
 'learning_rate': 0.1,
 'max_depth': -1,
 'min_child_samples': 20,
 'min_child_weight': 0.001,
 'min_split_gain': 0.0,
 'n_estimators': 100,
 'n_jobs': -1,
 'num_leaves': 31,
 'objective': None,
 'random_state': 123,
 'reg_alpha': 0.0,
 'reg_lambda': 0.0,
 'silent': 'warn',
 'subsample': 1.0,
 'subsample_for_bin': 200000,
 'subsample_freq': 0}

In [60]:
save_model(lightgbm_model, '../output/models/lightgbm1')

Transformation Pipeline and Model Successfully Saved

(Pipeline(memory=None,
          steps=[('dtypes',
                  DataTypes_Auto_infer(categorical_features=[],
                                       display_types=True, features_todrop=[],
                                       id_columns=[], ml_usecase='regression',
                                       numerical_features=[], target='KWH',
                                       time_features=[])),
                 ('imputer',
                  Simple_Imputer(categorical_strategy='not_available',
                                 fill_value_categorical=None,
                                 fill_value_numerical=None,
                                 numeric_strategy='me...
                  LGBMRegressor(boosting_type='gbdt', class_weight=None,
                                colsample_bytree=1.0, importance_type='split',
                                learning_rate=0.1, max_depth=-1,
                                min_child_samples=20, min_child_weight=0.001,
                                min_split_gain=0.0, n_estimators=100, n_jobs=-1,
                                num_leaves=31, objective=None, random_state=123,
                                reg_alpha=0.0, reg_lambda=0.0, silent='warn',
                                subsample=1.0, subsample_for_bin=200000,
                                subsample_freq=0)]],
          verbose=False),
 '../output/models/lightgbm1.pkl')

In [61]:
##### BONUS NN regression