In [1]:
import numpy as np 
import pandas as pd
import matplotlib.pyplot as plt 

from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

%matplotlib inline

In [2]:
dpath = '../data/'
df = pd.read_csv(dpath + 'pipeline_output.csv')
df

,REGIONC,DIVISION,REPORTABLE_DOMAIN,TYPEHUQ,NWEIGHT,HDD65,CDD65,HDD30YR,CDD30YR,Climate_Region_Pub,...,IECC_Climate_Pub_2B,IECC_Climate_Pub_3A,IECC_Climate_Pub_3B-4B,IECC_Climate_Pub_3C,IECC_Climate_Pub_4A,IECC_Climate_Pub_4C,IECC_Climate_Pub_5A,IECC_Climate_Pub_5B-5C,IECC_Climate_Pub_6A-6B,IECC_Climate_Pub_7A-7B-7AK-8AK
0,2,4,12,2,2471.68,4742,1080,4953,1271,4,...,0,0,0,0,1,0,0,0,0,0
1,4,10,26,2,8599.17,2662,199,2688,143,5,...,0,0,0,1,0,0,0,0,0,0
2,1,1,1,5,8969.92,6233,505,5741,829,1,...,0,0,0,0,0,0,1,0,0,0
3,2,3,7,2,18003.64,6034,672,5781,868,1,...,0,0,0,0,0,0,1,0,0,0
4,1,1,1,3,5999.61,5388,702,5313,797,1,...,0,0,0,0,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12078,2,3,9,2,10219.80,7671,332,7784,451,1,...,0,0,0,0,0,0,0,0,1,0
12079,3,7,21,4,8689.07,2085,2844,2520,2286,2,...,0,0,1,0,0,0,0,0,0,0
12080,2,4,10,2,4697.21,7935,472,8074,600,1,...,0,0,0,0,0,0,0,0,1,0
12081,4,8,23,2,13155.68,5834,770,5989,957,1,...,0,0,0,0,0,0,0,1,0,0
12082,4,10,26,2,7703.43,2806,124,2859,139,5,...,0,0,0,1,0,0,0,0,0,0

In [4]:
# note
# corr matrix threshold (elim) (lowe corr matrix)
# plot remaining var with correlation to target, cut agian
# Run PCA... how many? based on eigenvalues... # of PCA comp = # of eigen values 1 or higher. filter to this
# Specify data types... Ordinal / Chat / continous / datetime???
# LR... polly... Dirichlet Reg
# L2 for penalization/generalization
# other alogs? 

# Ideas: 
# convert target into bins? classification....  norm dist bins
#   - Naive Bays... check matrix & Kappa Value(0.9 or higher... robustness of model in real world)
#   - Treat outliners... before / after PCA
# Any feature missing val > .4 eliminate

In [3]:
X = np.array(df.drop('KWH', axis=1))
y = np.array(df['KWH'])

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, shuffle=True, random_state=150)

reg = LinearRegression()
reg.fit(X_train, y_train)

print("Train R2:", reg.score(X_train, y_train))
print("Test R2:", reg.score(X_test, y_test))

Train R2: 0.9999999999995515
Test R2: 0.9999999999994108

In [14]:
# again if we scale it? 

X = df.drop('KWH', axis=1)
y = np.array(df['KWH'])

sc = StandardScaler()
sc.fit_transform(X)
X_scaled = sc.transform(X)
X_scaled = pd.DataFrame(X_scaled, columns=X.columns)
# X_scaled

X = np.array(X_scaled)
y = np.array(df['KWH'])

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, shuffle=True, random_state=150)

reg = LinearRegression()
reg.fit(X_train, y_train)

print("Train R2:", reg.score(X_train, y_train))
print("Test R2:", reg.score(X_test, y_test))

# ADJUSTED R2

Train R2: 0.9999999999995515
Test R2: -42315068902.907

In [15]:
# try pycarret

from pycaret.regression import *

In [17]:
s = setup(data = df, target='KWH', n_jobs=-1)

In [18]:
best = compare_models()

IntProgress(value=0, description='Processing: ', max=99)

Initiated  . . . . . . . . . . . . . . . . . .          16:48:42
Status     . . . . . . . . . . . . . . . . . .  Fitting 10 Folds
Estimator  . . . . . . . . . . . . . . . . . .    Bayesian Ridge

/Users/josephluiz/miniconda3/envs/THIRD_LOVE/lib/python3.7/site-packages/numpy/core/fromnumeric.py:87: RuntimeWarning: overflow encountered in reduce
  return ufunc.reduce(obj, axis, dtype, out, **passkwargs)
/Users/josephluiz/miniconda3/envs/THIRD_LOVE/lib/python3.7/site-packages/sklearn/linear_model/_least_angle.py:647: RuntimeWarning: overflow encountered in true_divide
  g1 = arrayfuncs.min_pos((C - Cov) / (AA - corr_eq_dir + tiny32))
/Users/josephluiz/miniconda3/envs/THIRD_LOVE/lib/python3.7/site-packages/sklearn/linear_model/_least_angle.py:651: RuntimeWarning: overflow encountered in true_divide
  g2 = arrayfuncs.min_pos((C + Cov) / (AA + corr_eq_dir + tiny32))
/Users/josephluiz/miniconda3/envs/THIRD_LOVE/lib/python3.7/site-packages/sklearn/linear_model/_least_angle.py:652: RuntimeWarning: divide by zero encountered in true_divide
  gamma_ = min(g1, g2, C / AA)
/Users/josephluiz/miniconda3/envs/THIRD_LOVE/lib/python3.7/site-packages/sklearn/linear_model/_least_angle.py:578: ConvergenceWarning: Regressors in active set degenerate. Dropping a regressor, after 363 iterations, i.e. alpha=1.205e-04, with an active set of 360 regressors, and the smallest cholesky pivot element being 2.220e-16. Reduce max_iter or increase eps parameters.
  ConvergenceWarning)
/Users/josephluiz/miniconda3/envs/THIRD_LOVE/lib/python3.7/site-packages/sklearn/linear_model/_least_angle.py:578: ConvergenceWarning: Regressors in active set degenerate. Dropping a regressor, after 475 iterations, i.e. alpha=8.347e-05, with an active set of 466 regressors, and the smallest cholesky pivot element being 2.220e-16. Reduce max_iter or increase eps parameters.
  ConvergenceWarning)
/Users/josephluiz/miniconda3/envs/THIRD_LOVE/lib/python3.7/site-packages/sklearn/utils/validation.py:72: RuntimeWarning:  Orthogonal matching pursuit ended prematurely due to linear
dependence in the dictionary. The requested precision might not have been met.

  return f(**kwargs)
/Users/josephluiz/miniconda3/envs/THIRD_LOVE/lib/python3.7/site-packages/sklearn/utils/validation.py:72: RuntimeWarning:  Orthogonal matching pursuit ended prematurely due to linear
dependence in the dictionary. The requested precision might not have been met.

  return f(**kwargs)
/Users/josephluiz/miniconda3/envs/THIRD_LOVE/lib/python3.7/site-packages/sklearn/utils/validation.py:72: RuntimeWarning:  Orthogonal matching pursuit ended prematurely due to linear
dependence in the dictionary. The requested precision might not have been met.

  return f(**kwargs)
/Users/josephluiz/miniconda3/envs/THIRD_LOVE/lib/python3.7/site-packages/sklearn/utils/validation.py:72: RuntimeWarning:  Orthogonal matching pursuit ended prematurely due to linear
dependence in the dictionary. The requested precision might not have been met.

  return f(**kwargs)
/Users/josephluiz/miniconda3/envs/THIRD_LOVE/lib/python3.7/site-packages/sklearn/utils/validation.py:72: RuntimeWarning:  Orthogonal matching pursuit ended prematurely due to linear
dependence in the dictionary. The requested precision might not have been met.

  return f(**kwargs)
/Users/josephluiz/miniconda3/envs/THIRD_LOVE/lib/python3.7/site-packages/sklearn/utils/validation.py:72: RuntimeWarning:  Orthogonal matching pursuit ended prematurely due to linear
dependence in the dictionary. The requested precision might not have been met.

  return f(**kwargs)
/Users/josephluiz/miniconda3/envs/THIRD_LOVE/lib/python3.7/site-packages/sklearn/utils/validation.py:72: RuntimeWarning:  Orthogonal matching pursuit ended prematurely due to linear
dependence in the dictionary. The requested precision might not have been met.

  return f(**kwargs)

In [ ]:
# there is still major data leakage becasue am getting a close to perfect prediction....